@media screen and (max-width: 1260px) {
    .description-content {
        width: 100%;
    }

    .iphone,
    .description-line-top,
    .description-line {
        display: none;
    }

    .topic-wrapper {
        float: none;
        margin: 0 auto;
        padding-top: 50px;
    }

    .description {
        max-height: 400px
    }

    .sub-content {
        width: 100%;
        float: none;
        margin: 0 auto;
    }

    .form-title {
        margin: 0;
    }

    .contact-form {
        margin: 0;
        margin: 0 auto;
        float: none;
    }

    .footer-content {
        width:80%;
        margin: 0;
        padding: 0;
        margin: 0 auto;
    }

    .author-email {
        margin-left: 10%;
    }
}

@media screen and (max-width: 900px) {

    .header-content {
        margin-left: 30px;
        line-height: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .logo {
        margin: 0;
        float: none;
    }

    .nav-contact {
        float: none;
        margin: 0;
    }

    .description {
        max-height: 450px;
  }
  
    .topic-wrapper {
        width: 90%;
  }

  .sub {
      margin-bottom: 72px; 
  }

  .contact-form {
      float: none;
      margin: 0;
      width: 80%;
      margin: 0 auto;
      padding: 0;
      display: block;
  }

    .enter {
        width: 100%;
        margin: 0 auto;
    }

   .query {
        width: 100%;
    }

    .send {
        display: block;
        float: none;
        margin: 0 auto;
    }

    .send-wpapper {
        margin: 0 auto;
    }

    .more-know {
        display: block;
        float: none;
        margin: 0 auto;
        margin-top: 20px;
    }

    .footer {
        margin-top: 30px;
    }

    .footer-content {
        line-height: 35px
    }

    .copyright {
        display: block;
        margin: 0;
        text-align: center;
    }

    .author-email {
        margin: 0;
        display: inherit;
        text-align: center;
    }
}


@media screen and (max-width: 420px) {
    .more-know {
        width: 130px;
        height: 36px;
        border-radius: 7px;
        font-size: 15px;
        margin-top: 10px;
    }

    .query {
        width: 100%;
    }

    .footer {
        margin-top: 30px;
    }



}