@media screen and (max-width: 1260px) {
    .description-content {
        width: 50%;
    }

    .iphone,
    .description-line-top,
    .description-line {
        display: none;
    }

    .topic-wrapper {
        float: none;
        margin: 0 auto;
        width: 70%;
        padding-top: 50px;
    }

    .description {
        max-height: 100%;
    }

    .sub-content {
        width: 70%;
    }

    .form-title {
        margin: 0;
    }

    .contact-form {
        margin: 0;
        margin: 0 auto;
    }

    .footer-content {
        width:80%;
        margin: 0;
        padding: 0;
        margin: 0 auto;
    }

    .author-email {
        margin-left: 10%;
    }
}

@media screen and (max-width: 900px) {
  .description {
      height: 685px;
  }
  
  .header-content {
      width: 520px;
  }

  .logo {
      margin: 0;
      margin-top: 15px;
  }

  .contact-form {
      float: none;
      margin: 0;
      width: 55%;
      margin: 0 auto;
      padding: 0;
      display: block;
  }

   .query {
        width: 250px;
    }

    .send {
        float: none;
        margin-left: 30%;
    }

    .footer {
        margin-top: 30px;
    }

    .copyright {
        display: block;
        margin: 0;
        text-align: center;
    }

    .author-email {
        margin: 0;
        display: inherit;
        text-align: center;
    }
}


@media screen and (max-width: 420px) {
    .more-know {
        width: 130px;
        height: 36px;
        border-radius: 7px;
        font-size: 15px;
        margin-top: 10px;
    }

    .contact {
        display: none;
    }
    
    .header-content {
        width: 300px;
    }

    .contact-form {
        width: 70%;
        margin: 0;
        padding: 0;
        float: none;
    }
    
    .enter {
        width: 125%;
    }

    .query {
        width: 125%;
    }

    .footer {
        margin-top: 30px;
    }

}